In [1]:
!uv add matplotlib --active

Resolved 290 packages in 2ms
Audited 285 packages in 0.34ms

In [10]:
import matplotlib.pyplot as plt
import pickle
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
targets = ["postgres", "databricks"]
experiments = ["projection", "selection", "cross_join", "inner_join", "deduplication"]

experiment_results = {}

for target in targets:
    experiment_results[target] = {}
    for experiment in experiments:
        with open(f"../experiment_results/{target}/{experiment}/execution_times.pkl", "rb") as file:
            execution_times = pickle.load(file)
        experiment_results[target][experiment] = execution_times

experiment_results

{'postgres': {'projection': {'control': [7.019179,
    6.823811,
    7.01017,
    6.611277,
    7.598873,
    7.363184,
    7.273753,
    7.047453,
    6.754139,
    6.871913,
    7.075005],
   'small_bdds': [7.162543,
    7.079457,
    7.624968,
    7.7874,
    7.485013,
    6.715519,
    6.882292,
    7.226457,
    6.756706,
    6.764177,
    6.890771],
   'large_bdds': [145.864202,
    144.694556,
    150.085721,
    151.102075,
    156.861868,
    150.042722,
    145.563103,
    150.447646,
    145.252299,
    165.235013,
    169.430841],
   'large_strings': [74.574656,
    90.796731,
    77.252515,
    79.707949,
    78.562211,
    84.104308,
    88.824455,
    73.046837,
    88.939362,
    84.986995,
    79.909054]},
  'selection': {'control': [28.186322,
    8.413236,
    6.431541,
    6.910853,
    6.746205,
    6.614529,
    5.965652,
    6.661466,
    5.890489,
    6.716903,
    6.398875],
   'small_bdds': [6.704943,
    6.205651,
    6.562319,
    6.464557,
    6.565338,
    5.99787,
    6.966356,
    6.424852,
    6.254032,
    6.404569,
    6.499047],
   'large_bdds': [75.006551,
    83.602125,
    96.581994,
    96.847539,
    105.867199,
    99.328207,
    74.368123,
    106.538893,
    80.328091,
    94.10855,
    102.795545],
   'large_strings': [37.550014,
    52.461922,
    52.666388,
    44.038637,
    38.186599,
    37.500974,
    51.57739,
    37.24947,
    37.859843,
    38.128302,
    38.486377]},
  'cross_join': {'control': [4.162656,
    4.443684,
    4.984256,
    4.452189,
    4.637728,
    4.189283,
    4.201109,
    4.624974,
    4.227778,
    4.516126,
    4.516971],
   'small_bdds': [4.967048,
    5.202087,
    5.505295,
    4.937973,
    5.125857,
    5.009687,
    5.462501,
    5.945491,
    4.886807,
    5.059619,
    5.10927],
   'medium_bdds': [386.540458,
    385.903427,
    388.723376,
    386.798342,
    385.666293,
    386.6997,
    386.136506,
    387.832431,
    388.194499,
    387.855537,
    385.430032],
   'medium_strings': [13.547786,
    12.919625,
    13.470356,
    12.938454,
    12.927452,
    13.087737,
    13.046569,
    13.144783,
    12.872692,
    12.873063,
    12.945278]},
  'inner_join': {'control': [0.331302,
    0.269004,
    0.324143,
    0.324979,
    0.314356,
    0.34062,
    0.35569,
    0.264331,
    0.302747,
    0.35408,
    0.31497],
   'small_bdds': [0.266775,
    0.247635,
    0.415149,
    0.389881,
    0.319847,
    0.349942,
    0.343767,
    0.453075,
    0.377792,
    0.381016,
    0.402918],
   'medium_bdds': [4.35801,
    4.414997,
    4.341711,
    4.464613,
    4.314747,
    4.354898,
    4.642219,
    4.227394,
    4.360832,
    4.32819,
    4.359443],
   'medium_strings': [0.59193,
    0.357007,
    0.415413,
    0.388866,
    0.401549,
    0.427117,
    0.408564,
    0.366675,
    0.430678,
    0.359351,
    0.452745]},
  'deduplication': {'control': [24.516878,
    18.03502,
    18.053593,
    18.038567,
    17.726128,
    17.629683,
    17.975256,
    17.601447,
    17.686886,
    17.692591,
    9.888035],
   'small_bdds': [18.443005,
    18.835415,
    19.067742,
    18.9869,
    18.299328,
    18.444621,
    18.850922,
    18.471023,
    18.715821,
    19.007186,
    18.339966],
   'medium_bdds': [27.09385,
    27.263275,
    27.057829,
    27.219631,
    27.086038,
    27.237281,
    26.934589,
    27.37869,
    26.911357,
    27.217014,
    27.131542],
   'medium_strings': [16.950322,
    17.138126,
    17.338366,
    17.166736,
    17.14545,
    17.239413,
    17.151982,
    16.956245,
    17.061633,
    17.007586,
    17.141519]}},
 'databricks': {'projection': {'control': [9.725738,
    8.412531,
    8.039587,
    7.918632,
    7.791125,
    7.886775,
    7.875414,
    7.647409,
    7.380984,
    7.547337,
    8.80605],
   'small_bdds': [7.814089,
    7.998743,
    7.391102,
    7.517829,
    7.493201,
    9.014067,
    7.817486,
    7.710379,
    7.97659,
    7.446079,
    7.682496],
   'large_bdds': [143.030926,
    139.430398,
    145.573832,
    136.81421,
    141.237504,
    141.665188,
    142.739557,
    145.917549,
    139.593668,
    141.450869,
    140.427582],
   'large_strings': [302.555857,
    301.261195,
    292.945232,
    300.58005,
    289.134039,
    284.587457,
    298.872329,
    301.017885,
    307.9362,
    296.621127,
    284.473765]},
  'selection': {'control': [7.561135,
    7.331491,
    7.005963,
    6.766184,
    6.707031,
    6.670685,
    6.869252,
    6.820504,
    6.980883,
    6.612316,
    6.859013],
   'small_bdds': [7.142428,
    6.840396,
    6.785528,
    7.108512,
    6.830789,
    7.229025,
    6.79646,
    6.722875,
    7.069535,
    6.955886,
    7.108746],
   'large_bdds': [72.920972,
    71.83157,
    72.444702,
    72.845586,
    75.572481,
    74.063978,
    73.051108,
    68.241445,
    71.483505,
    68.879566,
    69.131654],
   'large_strings': [146.239218,
    142.785257,
    153.646837,
    150.114543,
    155.344957,
    155.563948,
    151.075341,
    146.850048,
    153.134449,
    144.984862,
    151.728091]},
  'cross_join': {'control': [7.04539,
    6.794608,
    6.873202,
    7.27313,
    6.901871,
    6.752629,
    6.773873,
    7.904232,
    6.814085,
    6.774822,
    6.704419],
   'small_bdds': [7.746828,
    7.181144,
    7.312248,
    7.644568,
    7.448817,
    7.205695,
    7.38891,
    7.272572,
    7.200349,
    7.340408,
    7.376136],
   'medium_bdds': [351.756564,
    347.123684,
    354.502394,
    348.64301,
    346.321514,
    345.836833,
    342.341471,
    351.303485,
    354.633503,
    337.664306,
    346.136028],
   'medium_strings': [44.098849,
    44.790586,
    43.031388,
    43.413761,
    41.401011,
    40.936242,
    43.071065,
    43.186757,
    39.673836,
    40.915584,
    41.080766]},
  'inner_join': {'control': [3.473695,
    3.268643,
    3.092697,
    2.980424,
    3.102167,
    3.177178,
    3.052893,
    3.077744,
    3.012788,
    3.262408,
    2.970917],
   'small_bdds': [3.62205,
    3.128361,
    3.104398,
    3.119317,
    3.152267,
    3.214956,
    3.091634,
    3.170125,
    3.183806,
    3.119186,
    3.080934],
   'medium_bdds': [10.097162,
    10.157668,
    10.196494,
    9.865215,
    9.821268,
    9.595636,
    9.877727,
    9.755664,
    10.242048,
    9.897047,
    9.893598],
   'medium_strings': [7.381113,
    7.2945,
    7.419418,
    7.30705,
    7.471773,
    7.467779,
    7.383347,
    7.406574,
    7.320508,
    7.228922,
    7.1556]},
  'deduplication': {'control': [6.610279,
    6.37242,
    6.035308,
    5.829103,
    5.905284,
    7.927344,
    5.887869,
    5.850972,
    5.965316,
    5.951062,
    5.973191],
   'small_bdds': [8.020449,
    6.05011,
    5.985438,
    6.269373,
    6.592803,
    6.404212,
    6.162887,
    5.943326,
    6.114916,
    6.040408,
    5.979544],
   'medium_bdds': [292.344192,
    293.164263,
    292.865071,
    292.502921,
    292.83703,
    292.68853,
    292.874108,
    293.077598,
    285.842737,
    292.426787,
    291.223315],
   'medium_strings': [10.556343,
    10.245309,
    10.108125,
    9.759485,
    9.863271,
    10.003065,
    9.942288,
    9.944823,
    9.839186,
    9.744127,
    9.687137]}}}

In [22]:
labels = {
    "projection": "Projection",
    "selection": "Selection",
    "cross_join": "Cartesian Product",
    "inner_join": "Join",
    "deduplication": "Deduplication",
}

def get_label(dataset):
    return labels[dataset]

## Individual Tables

In [26]:
for target in targets:
    rows = []
    for experiment in experiments:
        results = experiment_results[target][experiment]
        for dataset, times in results.items():
            average_time = np.mean(times)
            low, high = stats.t.interval(
                0.95,
                df=len(times)-1,
                loc=average_time,
                scale=np.std(times, ddof=1) / np.sqrt(len(times))
            )
            row = {
                "Experiment": experiment,
                "Dataset": dataset,
                "Average Time": average_time,
                "95% Conf. Int. Low": low,
                "95% Conf. Int. High": high,
            }
            rows.append(row)
    df = pd.DataFrame(rows)
    print(target)
    display(df)
    print(df.to_latex(
        index=False,
        formatters={ "Experiment": get_label },
        float_format="{:.3f}".format
    ))

postgres

,Experiment,Dataset,Average Time,95% Conf. Int. Low,95% Conf. Int. High
0,projection,control,7.040796,6.849061,7.232531
1,projection,small_bdds,7.125028,6.875515,7.374540
2,projection,large_bdds,152.234550,146.651147,157.817953
3,projection,large_strings,81.882279,77.825833,85.938725
4,selection,control,8.630552,4.250826,13.010278
5,selection,small_bdds,6.459049,6.285873,6.632225
6,selection,large_bdds,92.306620,84.277873,100.335367
7,selection,large_strings,42.336901,37.883221,46.790582
8,cross_join,control,4.450614,4.283058,4.618170
9,cross_join,small_bdds,5.201058,4.987709,5.414407
10,cross_join,medium_bdds,386.889146,386.146492,387.631799
11,cross_join,medium_strings,13.070345,12.913003,13.227687
12,inner_join,control,0.317838,0.297647,0.338030
13,inner_join,small_bdds,0.358891,0.317218,0.400563
14,inner_join,medium_bdds,4.378823,4.308130,4.449516
15,inner_join,medium_strings,0.418172,0.374267,0.462078
16,deduplication,control,17.713099,15.505943,19.920254
17,deduplication,small_bdds,18.678357,18.485748,18.870966
18,deduplication,medium_bdds,27.139191,27.044127,27.234254
19,deduplication,medium_strings,17.117943,17.038969,17.196918

\begin{tabular}{llrrr}
\toprule
Experiment & Dataset & Average Time & 95% Conf. Int. Low & 95% Conf. Int. High \\
\midrule
Projection & control & 7.041 & 6.849 & 7.233 \\
Projection & small_bdds & 7.125 & 6.876 & 7.375 \\
Projection & large_bdds & 152.235 & 146.651 & 157.818 \\
Projection & large_strings & 81.882 & 77.826 & 85.939 \\
Selection & control & 8.631 & 4.251 & 13.010 \\
Selection & small_bdds & 6.459 & 6.286 & 6.632 \\
Selection & large_bdds & 92.307 & 84.278 & 100.335 \\
Selection & large_strings & 42.337 & 37.883 & 46.791 \\
Cartesian Product & control & 4.451 & 4.283 & 4.618 \\
Cartesian Product & small_bdds & 5.201 & 4.988 & 5.414 \\
Cartesian Product & medium_bdds & 386.889 & 386.146 & 387.632 \\
Cartesian Product & medium_strings & 13.070 & 12.913 & 13.228 \\
Join & control & 0.318 & 0.298 & 0.338 \\
Join & small_bdds & 0.359 & 0.317 & 0.401 \\
Join & medium_bdds & 4.379 & 4.308 & 4.450 \\
Join & medium_strings & 0.418 & 0.374 & 0.462 \\
Deduplication & control & 17.713 & 15.506 & 19.920 \\
Deduplication & small_bdds & 18.678 & 18.486 & 18.871 \\
Deduplication & medium_bdds & 27.139 & 27.044 & 27.234 \\
Deduplication & medium_strings & 17.118 & 17.039 & 17.197 \\
\bottomrule
\end{tabular}

databricks

,Experiment,Dataset,Average Time,95% Conf. Int. Low,95% Conf. Int. High
0,projection,control,8.093780,7.643423,8.544137
1,projection,small_bdds,7.805642,7.502743,8.108541
2,projection,large_bdds,141.625571,139.836233,143.414909
3,projection,large_strings,296.362285,291.219307,301.505263
4,selection,control,6.925860,6.731948,7.119771
5,selection,small_bdds,6.962744,6.845190,7.080297
6,selection,large_bdds,71.860597,70.327738,73.393456
7,selection,large_strings,150.133414,147.221448,153.045379
8,cross_join,control,6.964751,6.728805,7.200697
9,cross_join,small_bdds,7.374334,7.252491,7.496177
10,cross_join,medium_bdds,347.842072,344.403139,351.281005
11,cross_join,medium_strings,42.327259,41.253312,43.401205
12,inner_join,control,3.133778,3.032068,3.235487
13,inner_join,small_bdds,3.180639,3.078557,3.282722
14,inner_join,medium_bdds,9.945412,9.809561,10.081262
15,inner_join,medium_strings,7.348780,7.282605,7.414956
16,deduplication,control,6.209832,5.794613,6.625051
17,deduplication,small_bdds,6.323951,5.922948,6.724955
18,deduplication,medium_bdds,291.986050,290.572529,293.399572
19,deduplication,medium_strings,9.972105,9.801491,10.142720

\begin{tabular}{llrrr}
\toprule
Experiment & Dataset & Average Time & 95% Conf. Int. Low & 95% Conf. Int. High \\
\midrule
Projection & control & 8.094 & 7.643 & 8.544 \\
Projection & small_bdds & 7.806 & 7.503 & 8.109 \\
Projection & large_bdds & 141.626 & 139.836 & 143.415 \\
Projection & large_strings & 296.362 & 291.219 & 301.505 \\
Selection & control & 6.926 & 6.732 & 7.120 \\
Selection & small_bdds & 6.963 & 6.845 & 7.080 \\
Selection & large_bdds & 71.861 & 70.328 & 73.393 \\
Selection & large_strings & 150.133 & 147.221 & 153.045 \\
Cartesian Product & control & 6.965 & 6.729 & 7.201 \\
Cartesian Product & small_bdds & 7.374 & 7.252 & 7.496 \\
Cartesian Product & medium_bdds & 347.842 & 344.403 & 351.281 \\
Cartesian Product & medium_strings & 42.327 & 41.253 & 43.401 \\
Join & control & 3.134 & 3.032 & 3.235 \\
Join & small_bdds & 3.181 & 3.079 & 3.283 \\
Join & medium_bdds & 9.945 & 9.810 & 10.081 \\
Join & medium_strings & 7.349 & 7.283 & 7.415 \\
Deduplication & control & 6.210 & 5.795 & 6.625 \\
Deduplication & small_bdds & 6.324 & 5.923 & 6.725 \\
Deduplication & medium_bdds & 291.986 & 290.573 & 293.400 \\
Deduplication & medium_strings & 9.972 & 9.801 & 10.143 \\
\bottomrule
\end{tabular}

## Combined Table

In [27]:
rows = []
for experiment in experiments:
    results_postgres = experiment_results["postgres"][experiment]
    results_databricks = experiment_results["databricks"][experiment]
    for dataset in results_postgres.keys():
        times_postgres = results_postgres[dataset]
        times_databricks = results_databricks[dataset]
        average_time_postgres = np.mean(times_postgres)
        low_postgres, high_postgres = stats.t.interval(
            0.95,
            df=len(times_postgres)-1,
            loc=average_time_postgres,
            scale=np.std(times_postgres, ddof=1) / np.sqrt(len(times_postgres))
        )
        
        times_databricks = results_databricks[dataset]
        times_databricks = results_databricks[dataset]
        average_time_databricks = np.mean(times_databricks)
        low_databricks, high_databricks = stats.t.interval(
            0.95,
            df=len(times_databricks)-1,
            loc=average_time_databricks,
            scale=np.std(times_databricks, ddof=1) / np.sqrt(len(times_databricks))
        )

        t_stat, p_value = stats.ttest_ind(times_databricks, times_postgres)
        
        row = {
            "Experiment": experiment,
            "Dataset": dataset,
            "Doubtless Average Time": average_time_databricks,
            "DuBio Average Time": average_time_postgres,
            "P-Value": p_value
        }
        rows.append(row)
df = pd.DataFrame(rows)
print("combined")
display(df)
print(df.to_latex(
    index=False,
    formatters={ "Experiment": get_label },
    float_format="{:.3f}".format
))

combined

,Experiment,Dataset,Doubtless Average Time,DuBio Average Time,P-Value
0,projection,control,8.093780,7.040796,1.107077e-04
1,projection,small_bdds,7.805642,7.125028,9.659357e-04
2,projection,large_bdds,141.625571,152.234550,6.532723e-04
3,projection,large_strings,296.362285,81.882279,9.533386e-26
4,selection,control,6.925860,8.630552,3.965487e-01
5,selection,small_bdds,6.962744,6.459049,3.007667e-05
6,selection,large_bdds,71.860597,92.306620,1.866880e-05
7,selection,large_strings,150.133414,42.336901,1.333521e-21
8,cross_join,control,6.964751,4.450614,2.012391e-14
9,cross_join,small_bdds,7.374334,5.201058,1.428083e-14
10,cross_join,medium_bdds,347.842072,386.889146,1.814261e-16
11,cross_join,medium_strings,42.327259,13.070345,4.590383e-24
12,inner_join,control,3.133778,0.317838,3.958488e-24
13,inner_join,small_bdds,3.180639,0.358891,1.288473e-23
14,inner_join,medium_bdds,9.945412,4.378823,1.188487e-26
15,inner_join,medium_strings,7.348780,0.418172,3.006086e-34
16,deduplication,control,6.209832,17.713099,3.283760e-10
17,deduplication,small_bdds,6.323951,18.678357,2.534697e-24
18,deduplication,medium_bdds,291.986050,27.139191,7.289991e-41
19,deduplication,medium_strings,9.972105,17.117943,4.878376e-27

\begin{tabular}{llrrr}
\toprule
Experiment & Dataset & Doubtless Average Time & DuBio Average Time & P-Value \\
\midrule
Projection & control & 8.094 & 7.041 & 0.000 \\
Projection & small_bdds & 7.806 & 7.125 & 0.001 \\
Projection & large_bdds & 141.626 & 152.235 & 0.001 \\
Projection & large_strings & 296.362 & 81.882 & 0.000 \\
Selection & control & 6.926 & 8.631 & 0.397 \\
Selection & small_bdds & 6.963 & 6.459 & 0.000 \\
Selection & large_bdds & 71.861 & 92.307 & 0.000 \\
Selection & large_strings & 150.133 & 42.337 & 0.000 \\
Cartesian Product & control & 6.965 & 4.451 & 0.000 \\
Cartesian Product & small_bdds & 7.374 & 5.201 & 0.000 \\
Cartesian Product & medium_bdds & 347.842 & 386.889 & 0.000 \\
Cartesian Product & medium_strings & 42.327 & 13.070 & 0.000 \\
Join & control & 3.134 & 0.318 & 0.000 \\
Join & small_bdds & 3.181 & 0.359 & 0.000 \\
Join & medium_bdds & 9.945 & 4.379 & 0.000 \\
Join & medium_strings & 7.349 & 0.418 & 0.000 \\
Deduplication & control & 6.210 & 17.713 & 0.000 \\
Deduplication & small_bdds & 6.324 & 18.678 & 0.000 \\
Deduplication & medium_bdds & 291.986 & 27.139 & 0.000 \\
Deduplication & medium_strings & 9.972 & 17.118 & 0.000 \\
\bottomrule
\end{tabular}